.bgn {
  background-color: rgb(39 54 59);
  color: white;
  height: 40vh;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 2rem rgb(150, 149, 149);
}
.bgn::before {
  content: "";
  background: url(../../asets/image/bg2.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  z-index: -1;
}
.pt {
  padding-top: 10rem;
}
